# Dependency directory
node_modules

# Ignore coverage
coverage

# Ignore built ts files
dist

# Ignore Desktop Service Store
.DS_Store

# Use yarn
package-lock.json

# Ignore yarn error log
yarn-error.log
